* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{

}
.data{
    font-family: sans-serif;
    font-size: 10px;
    margin-bottom: 6px;
}
p{
    font-family: sans-serif;
}
h1{
    font-size: 1rem;
    font-family: sans-serif;
}
header{
    background-color: #762CE8;
    display: flex;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 10px;
    
}
header a img{
    margin: 10px;
    width: 160px;
}

main{
    width: 70%;
    height: auto;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
section{
    display: flex;
    
}
.container-main-one{
    border-radius: 10px;
    height: 100%;
    width: 60%;
    overflow: hidden;
}

.container-main-one h1{
    font-size: 2rem;
    margin-bottom: 6px;
}
.container-main-one p{
    font-size: 1.2rem;
}
.container-main-one a img{
    width: 100%;
    height:auto;
    border-radius: 10px;
    object-fit: cover;
}

.container-main-one a img :hover{
    width: auto;
}
.container-main-two{
    width: 40%;
}
.container-main-two p{
    font-size: 1rem;
    padding: 10px 0;
}
.container-main-two-top a img{
    width:100% ;
    height: 25vh;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid rgb(218, 215, 215);
}
.container-main-two-top{
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}
.container-main-two-top h1{
    font-size: 1.5rem;
}

.outras{
    background-color:#772ce800;
    height: auto;
    width: 60%;
    display: flex;
    gap: 10px;
    margin-top: 10rem;
    
}
.lado1{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
}
.lado1 a img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.lado1 h1{
    font-size: 1.4rem; 
    padding: 10px 0;
}
.lado1 p{
    font-size: 1rem;
    padding: 10px 0;
    color: #6a676e;
    
}
footer{
    background-color: #680cf1;
    width: 100%;
    height: 20vh;
    color: white;
    text-align: center;
    padding: 20px 0;
}

