*{
    margin: 0;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 400px;
}
p{
    font-family: sans-serif;
    font-size: 7px;
    margin-bottom: 8px;
}
h1{
    font-size: 9px;
    font-family: sans-serif;
}
header{
    background-color: #762CE8;
    display: flex;
    justify-content: space-around;
    height: 5%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 10px;
    
}
header a img{
    margin: 10px;
    width: 100px;
}

main{
    width: 80%;
    height: auto;
    margin-top: 40px;
    display: flex;
    gap: 10px
}
section{
    display: flex;
    background-color: #680cf1;
}
.container-main-one{
    border-radius: 10px;
    height: 100%;
    width: 60%;
}
.container-main-one h1{
    font-size: 15px;
    margin-bottom: 6px;
}
.container-main-one p{
    font-size: 8px;
}
.container-main-one a img{
    width: 100%;
    height:auto;
    border-radius: 10px;
}
.container-main-one a img :hover{
    width: 800px;
    background-color: #680cf1;
}
.container-main-two{
    width: 30%;
}
.container-main-two-top a img{
    max-width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 7px;
}
.container-main-two-top{
    width: 100%;
    margin-bottom: 10px;
}
.container-main-two-botton{
    width: 100%;
    background-color: #8b7ba3;
    height: 50%;
}
.section-2 a img{
    max-width: 100%;
    height: 80%;
    border-radius: 7px;
}
.section-two{
    width: 70%;
    background-color: #532991;
    height: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.outras{
    background-color:#772ce800;
    height: auto;
    width: 60%;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.lado1{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
}
.lado1 img{
    width: 100%;
    height: 80%;
}
.lado2{
    width: 50%;
    height: 100%;
    background-color: rgba(25, 180, 180, 0);

}
.lado1 h1{
    font-size: 12px; 
}
.lado1 p{
    font-size: 9px;
}
footer{
    background-color: #680cf1;
    width: 100%;
    height: 20vh;
}

